<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-bitsparx-plugins-applemusicplaylists" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <engines>
    	<engine name="cordova" version=">=3.4.0"/>
    </engines>
    <name>Cordova Apple Music Playlists</name>
    <js-module name="appleMusicPlaylists" src="www/appleMusicPlaylists.js">
        <clobbers target="appleMusicPlaylists" />
    </js-module>

    <platform name="ios">
	    <config-file target="config.xml" parent="/widget">
	      <feature name="AppleMusicPlaylists">
	        <param name="ios-package" value="CordovaAppleMusicPlaylists" />
	        <param name="onload" value="true" />
	      </feature>
	    </config-file>
        <config-file target="*-Info.plist">
            <key>NSAppleMusicUsageDescription</key>
            <string>Allow this app access to your Music Library.</string>
        </config-file>

		<header-file src="src/ios/CordovaAppleMusicPlaylists.h" target-dir="AppleMusicPlaylists"/>
		<source-file src="src/ios/CordovaAppleMusicPlaylists.m" target-dir="AppleMusicPlaylists"/>
  	</platform>

</plugin>
